@{
    ViewData["Title"] = "Home Page";
}

<div class="overflow-hidden text-center bg-light row">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-6 fw-normal">Connect with David on LinkedIn</h1>
        <a target="_blank" class="btn btn-outline-secondary" href="https://www.linkedin.com/in/david-diaz-morales/">Connect with David on LinkedIn</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div><div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="overflow-hidden text-center bg-light row">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-6 fw-normal">Check Out David's GitHub</h1>
        <a target="_blank" class="btn btn-outline-secondary" href="https://github.com/davidadm16/Projects">Check Out David's GitHub</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div><div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>